body {
  display: block;
  background-color: #ECF0F1;
  font-family: 'Open sans', sans-serif;
  font-size: 14px;
  line-height: 1.6em;
  font-weight: 400;
  color: rgb(70,70,70);
}

/* Page parts */

#sidebar {
  position: fixed;
  width: 100px;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #019875;
}

#page-content {
  margin-left: 100px;
}

/* Page content */

.container {
  width: 900px;
  margin: 0 auto;
}

.card {
  display: block;
  background-color: rgb(254,254,254);
  padding: 15px;
  margin: 20px;
  border-radius: 4px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.text-center {
  text-align: center;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  color: #019875;
  font-size: 25px;
  font-weight: 400;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5em;
}

a {
  text-decoration: none;
  color: rgb(150,150,150);
}

a:hover {
  color: #019875;
}

table td {
  vertical-align: top;
  padding: 5px 5px 25px 5px;
  font-size: 14px;
  line-height: 1.6em;
}

.round-pic {
  border-radius: 50%;
}

.neucha-title {
  font-family: 'Neucha', cursive;
  font-size: 18px;
  color: #019875;
}

.inline-list {
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin: 0;
  list-style-type: none;
}

.inline-list > li {
  margin: 0px 20px;
}

.big-icon {
  font-size: 25px;
}

.small-height {
  line-height: 0.5em;
}

.vertical-list {
  padding-left: 0;
  list-style-type: none;
}

.vertical-list > li {
  margin: 40px 0px;
}

.clear-font {
  color: rgb(254,254,254);
}



